
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkb29vbGJhYWV4b2hrY2pyd2VrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1MjA2MjEsImV4cCI6MjA3NTA5NjYyMX0.ePRY59Kgzl769A23OjwemdkgJv8nA0De06ooTFPycTg
VITE_SUPABASE_URL=https://tdooolbaaexohkcjrwek.supabase.co
